#root {
	width: 100%;
	min-height: 100vh;
	position: relative;
	// overflow: hidden;
	background-color: $app-background-color;
	& > .checked-todolist,
	& > .unchecked-todolist,
	& > .create-todo-btn-container {
		margin: 35px auto;
		min-width: 320px;
		max-width: 500px;
	}
	& > .create-todo-btn-container {
		text-align: center;
	}
	#create_todo_svg {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(calc(50vh - 50%));
		margin: auto;
		z-index: -1;
		min-width: 325px;
		width: 90%;
		max-width: 500px;
	}
}
