#root {
	width: 100%;
	height: 100vh;

	& > .checked-todolist,
	& > .unchecked-todolist,
	& > .create-todo-btn-container {
		margin: 35px auto;
		min-width: 320px;
		max-width: 500px;
	}
	& > .create-todo-btn-container {
		text-align: center;
	}
}
