.create-todo-btn {
	margin: 15px 25px;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgb(173, 173, 173);
	border-radius: 500px;
	color: #fff;
	background-color: #1a48ff;
	margin-right: 10px;
	font-size: 1.1em;
}
