$todo-transition-duration: 250ms;
$svg-check-tansition-duration: 100ms;
$todo-animation-duration: 1000ms;

@mixin common-todo-card-styles {
	.todo-card {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		border-radius: 8px;
		background-color: #fff;
		box-shadow: 0 0 25px 0px rgba(204, 204, 204, 0.7);
		margin: 25px;
		padding: 15px;
		transform-origin: center top;

		&-enter {
			opacity: 0;
			transform: scale(0.95);
		}
		&-enter-active {
			opacity: 1;
			transform: scale(1);
			transition: opacity $todo-transition-duration
					cubic-bezier(0, 0.07, 1, -0.11),
				transform $todo-transition-duration cubic-bezier(0, 1.15, 1, 0.99);
		}
		&-exit {
			opacity: 1;
			transform: scale(1);
		}
		&-exit-active {
			opacity: 0;
			transform: scale(0.95);
			transition: opacity $todo-transition-duration
					cubic-bezier(0, 0.07, 1, -0.11),
				transform $todo-transition-duration cubic-bezier(0, 1.15, 1, 0.99);
		}

		input[type="checkbox"] {
			display: none;
			pointer-events: none;

			& + label {
				cursor: pointer;
				font-size: 0.8em;
				display: grid;
				grid-template-columns: auto 3fr;

				svg {
					width: 2em;
					stroke: $option-btn-color;
					stroke-width: 5;
					fill: white;

					.svg-checkbox-tick {
						stroke-dasharray: 70;
						stroke-dashoffset: 70;
						fill: none;
						transition: stroke-dashoffset $svg-check-tansition-duration linear;
						&.checked {
							stroke-dashoffset: 0;
						}
					}
				}
			}
		}

		&__text {
			display: inline-block;
			margin: 0 15px;
			overflow-wrap: break-word;
			overflow-y: auto;
			max-width: 335px;
			max-height: 100px;
			flex-grow: 1;
			padding: 5px;
			border-radius: 5px;
		}

		&__text.edit-active {
			box-shadow: inset 0 0 8px -2px #cccccc;
		}

		&__floating-menu-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			color: #000;
			background-color: transparent;
			outline: none;
			cursor: pointer;

			&.active {
				background-color: $option-btn-background-color;
				color: $option-btn-color;
			}
		}
	}
}

.unchecked-todolist {
	@include common-todo-card-styles;
}

.checked-todolist {
	@include common-todo-card-styles;

	.todo-card {
		background-color: #ccc;
		text-decoration-line: line-through;
		color: #333;
		input[type="checkbox"] + label svg {
			stroke: #333;
			fill: #ccc;
		}
	}
}
