$logo-color: rgba(0, 58, 138, 1);
$appbar-height: 60px;
$appbar-items-color: rgba(0, 58, 138, 1);
$appbar-background-color: rgba(82, 154, 255, 0.35);
$option-btn-color: rgba(0, 58, 138, 1);
$option-btn-background-color: rgba(82, 154, 255, 0.1);
$btn-color: rgba(0, 58, 138, 1);
